## Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Reading the data and skipping the first three rows as it contains the source information.

In [2]:
df_billing = pd.read_csv('billings_europe.csv',skiprows=3)

C:\Users\vishal.kumar1\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df_billing.shape

(11137, 261)

### Dropping the rows and columns whose all values are null

In [20]:
df_billing.dropna(how='all',inplace=True)
df_billing.dropna(axis=1,how='all',inplace=True)
df_billing.shape

(11137, 256)

In [23]:
df_billing=df_billing.set_index('1')

In [24]:
df_nonNull = df_billing.dropna(how='all')

In [75]:
df_nonNull.shape

(1102, 255)

### Segregatting the data on the basis of requirement. As we have to select the billing 1st Jan 2016 till date

In [76]:
updated_data = df_nonNull.loc['1-Jan-16':]

In [77]:
updated_data.shape

(424, 255)

In [78]:
updated_data=updated_data.fillna(0)

In [79]:
updated_data.loc['Value'] = updated_data.sum()

In [81]:
updated_data['date']= updated_data.index

In [82]:
updated_data

,9,10,11,12,13,14,15,16,17,18,...,259,260,261,262,263,264,265,266,267,date
1,,,,,,,,,,,,,,,,,,,,,
1-Jan-16,20337.4,16335.2,9657.4,42872.0,14977.4,10624.6,13582.2,11534.6,22444.8,31678.8,...,0.0,14581.6,29019.0,31679.6,0.0,44508.8,18355.8,44044.4,40318.2,1-Jan-16
4-Jan-16,20124.0,16636.0,9202.8,43113.8,15008.0,10308.2,13547.6,11589.8,22103.0,31944.8,...,0.0,15921.4,28405.4,31167.8,0.0,44168.2,18308.0,44208.6,40790.8,4-Jan-16
5-Jan-16,20210.2,16808.4,9385.8,43105.6,15444.8,10401.2,13315.6,11649.4,22012.4,31533.0,...,0.0,16194.6,28175.0,32231.0,0.0,44324.6,18075.4,44399.8,40366.0,5-Jan-16
6-Jan-16,20324.0,17068.0,9430.8,42488.8,15918.2,10487.6,13153.2,11944.6,21578.8,31246.0,...,0.0,16324.8,27955.8,32601.2,0.0,44651.0,18075.4,43873.0,39298.2,6-Jan-16
7-Jan-16,20790.4,17350.2,9203.6,42245.2,16023.0,10291.4,13055.4,12050.6,22480.0,31683.0,...,0.0,16487.6,27999.4,32974.6,0.0,44531.8,18203.2,43497.0,39681.8,7-Jan-16
8-Jan-16,20989.2,17557.6,9148.4,43480.2,15787.4,10357.2,12999.2,11696.6,22826.4,32850.0,...,0.0,16679.0,27620.4,34141.6,0.0,45309.0,18310.4,43812.8,39486.6,8-Jan-16
11-Jan-16,20874.8,17506.8,9354.2,43532.0,15735.2,10594.0,13030.0,11476.6,23188.4,32442.2,...,0.0,16701.4,27256.8,34446.8,0.0,45504.8,18430.0,42195.0,40254.8,11-Jan-16
12-Jan-16,21163.2,17225.4,9390.4,44237.4,15452.2,10463.0,13128.6,11922.2,25046.0,31461.0,...,0.0,16663.4,27082.4,35350.6,0.0,44146.6,18494.0,41847.2,40213.6,12-Jan-16
13-Jan-16,20816.6,17623.4,9369.2,45517.4,15587.8,10549.2,13168.2,12279.2,24575.2,31357.2,...,0.0,16871.8,27248.0,36598.6,0.0,43504.2,18704.8,42201.6,39684.8,13-Jan-16
14-Jan-16,20889.2,17103.2,9293.4,44359.2,15999.8,10360.6,12664.0,11885.4,24082.2,30753.2,...,0.0,16263.0,27209.6,35657.4,0.0,43470.8,18620.8,42398.8,38020.8,14-Jan-16
15-Jan-16,20876.8,17420.4,9344.2,44004.6,15889.2,10297.0,12922.8,11640.6,24807.4,30769.0,...,0.0,15968.6,27006.4,35822.2,0.0,43423.6,19086.2,42612.4,38842.4,15-Jan-16
18-Jan-16,20834.2,17423.4,9715.8,43803.8,16106.4,10300.2,13073.4,11959.6,24193.4,30625.6,...,0.0,15958.4,27216.6,36300.6,0.0,44440.6,19577.4,42803.6,39506.8,18-Jan-16
19-Jan-16,21115.6,17600.6,9833.8,43359.6,16139.0,10083.4,13176.6,11984.4,23380.4,31086.8,...,0.0,15776.2,27131.4,36492.4,0.0,44936.0,20147.4,43071.4,39794.8,19-Jan-16
20-Jan-16,21517.8,17727.4,10332.2,44027.2,16165.2,9970.2,13556.0,11868.4,24702.2,31656.2,...,0.0,15694.6,27096.8,37798.4,0.0,45890.6,20207.0,43132.2,40552.0,20-Jan-16
21-Jan-16,20495.6,17324.2,10575.8,45890.0,16426.2,9604.4,13734.4,11780.6,24574.8,31460.4,...,0.0,17560.0,27010.4,36546.4,0.0,45158.6,20369.4,43871.8,39060.2,21-Jan-16
22-Jan-16,20658.4,17220.0,9921.4,45496.4,16080.4,9581.2,13981.0,12063.0,24736.8,31238.6,...,0.0,21469.8,27239.2,34427.0,0.0,43558.2,20422.0,43293.2,39745.6,22-Jan-16
25-Jan-16,21191.8,17473.2,10353.4,42930.0,16278.8,9824.4,14470.0,11945.8,25265.4,31913.6,...,0.0,22805.6,27435.0,36223.6,0.0,44101.8,20255.2,42459.8,39929.8,25-Jan-16
26-Jan-16,21211.0,16599.4,10421.6,43945.0,16135.6,9625.0,14678.2,11899.4,24503.4,32026.4,...,0.0,21367.2,27147.4,35711.8,0.0,44374.4,20162.4,42433.2,39668.8,26-Jan-16
27-Jan-16,21993.4,16935.6,10367.0,42961.8,16648.2,9727.8,14948.2,11585.8,25331.8,31575.0,...,0.0,21277.0,27530.2,36456.0,0.0,44725.4,20499.2,42320.0,39397.4,27-Jan-16
28-Jan-16,22164.2,16542.6,9945.4,43193.8,16507.6,9589.4,14858.4,11513.6,24695.6,31365.0,...,0.0,22384.4,27028.4,33804.6,0.0,45405.0,19890.2,42924.8,38946.0,28-Jan-16
29-Jan-16,22475.4,17171.8,9025.6,50764.4,16727.8,9663.2,16484.2,11888.2,25132.2,30658.8,...,0.0,16284.4,27580.0,32835.4,0.0,44443.2,19317.6,43687.4,38061.0,29-Jan-16
1-Feb-16,22636.4,17505.2,9038.8,51460.2,16492.4,9438.6,15936.4,12064.8,25016.2,30438.8,...,0.0,16638.4,27254.0,34337.6,0.0,45983.6,19929.0,43047.4,38478.4,1-Feb-16
2-Feb-16,23113.0,17380.6,9124.2,51705.4,16165.4,10156.4,16369.0,12242.8,25464.2,29232.0,...,60006.2,16276.4,27105.4,36317.4,0.0,47839.0,20481.8,43006.4,39838.2,2-Feb-16
3-Feb-16,23334.6,17326.8,9667.4,52343.6,16656.8,9914.0,16330.4,12301.0,25210.6,29297.8,...,60082.8,16453.4,26806.4,36223.6,0.0,48964.2,21025.0,42155.0,41107.8,3-Feb-16
4-Feb-16,22678.8,17828.0,9406.2,51034.4,15889.4,9777.8,15418.8,12043.6,25190.0,29992.6,...,57841.4,16595.4,26905.4,32498.4,0.0,46761.6,19114.4,42970.8,38023.8,4-Feb-16
5-Feb-16,22325.6,17208.6,9186.4,50733.2,16108.6,9261.4,15399.8,12100.0,24924.6,31274.0,...,56517.6,16600.8,26237.2,32071.4,0.0,44830.2,19072.0,44027.4,37898.8,5-Feb-16
8-Feb-16,22233.4,16453.8,9357.0,49232.6,15321.8,9140.2,15924.0,12251.4,24256.0,30050.0,...,59899.2,19886.2,25907.0,32242.4,0.0,45075.4,19330.2,43633.2,38203.8,8-Feb-16
9-Feb-16,22513.2,16253.0,9258.4,49352.8,15070.0,9611.2,16359.8,12384.0,24475.4,29946.8,...,62660.6,19786.0,25731.4,33180.8,0.0,47589.8,20161.6,44679.8,38579.4,9-Feb-16
10-Feb-16,22123.2,15991.4,10066.6,48835.0,15530.0,9829.6,16661.4,11832.4,25150.0,29148.2,...,61369.2,21424.2,25606.4,33367.6,0.0,47977.2,20093.0,44229.4,37897.4,10-Feb-16
11-Feb-16,22317.2,15811.4,10283.6,48051.2,15611.4,9861.0,16225.6,12345.2,27484.0,28755.0,...,61912.6,19661.0,25662.4,34692.6,0.0,49393.8,20854.6,43910.0,39273.4,11-Feb-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24-Jul-17,19100.2,23224.2,10898.6,31041.8,12450.0,13798.4,11647.4,7790.8,15331.0,33262.6,...,20437.0,18238.8,31209.2,29788.8,0.0,32630.0,18506.6,45049.4,33170.0,24-Jul-17
25-Jul-17,19046.0,23544.0,11049.2,30950.4,13002.2,13774.2,11183.2,7685.6,15580.4,33277.6,...,20398.0,18291.2,31719.4,30638.0,0.0,31764.4,18460.4,43577.8,32950.2,25-Jul-17
26-Jul-17,19046.6,23154.6,10641.6,30635.0,12881.0,14001.6,11146.2,7702.8,15525.6,33475.6,...,21129.2,18154.0,31868.8,30155.4,0.0,32694.4,18595.0,43792.0,33071.4,26-Jul-17
27-Jul-17,19336.0,23251.2,11109.4,30209.8,12867.8,14096.2,11682.8,7422.6,14883.0,34589.8,...,20613.0,18201.6,31849.2,30299.4,0.0,32983.8,18492.8,43455.0,33574.0,27-Jul-17
28-Jul-17,18937.2,23520.6,10460.4,30628.8,12795.6,13991.0,11713.0,7415.6,14669.4,34423.0,...,20065.2,18162.4,31456.2,30852.8,0.0,32108.6,18594.4,43704.2,33135.0,28-Jul-17
31-Jul-17,19370.4,23359.4,11669.0,31882.0,12877.2,13671.6,12089.2,7076.4,14797.6,33894.0,...,19673.6,17859.2,31301.4,31447.6,0.0,32498.0,19248.6,43535.2,30677.8,31-Jul-17
1-Aug-17,19120.2,23200.8,11491.6,31820.4,12631.4,13725.6,11972.6,6988.8,15024.0,34008.2,...,19444.6,18126.8,31317.0,33068.0,0.0,32302.0,18972.8,43535.2,31281.4,1-Aug-17
2-Aug-17,19240.4,23081.2,11655.6,32236.0,12614.0,13524.8,12020.0,7150.2,15138.6,33554.6,...,18716.0,18008.8,30802.2,33131.4,0.0,32133.8,18660.8,42714.4,30863.8,2-Aug-17
3-Aug-17,18998.6,23445.2,11610.6,31864.0,12789.6,13388.4,12278.0,7210.4,15243.6,33477.8,...,19330.6,17702.0,30925.6,33516.2,0.0,32112.2,18774.2,42762.6,31359.6,3-Aug-17
4-Aug-17,18956.2,24133.6,11589.0,31961.0,12612.4,13175.6,12301.8,7260.2,14971.2,34107.4,...,19202.6,17832.0,31266.8,33437.6,0.0,32570.0,18727.0,43153.2,31206.2,4-Aug-17
7-Aug-17,18938.2,24239.4,11635.8,31994.0,12685.4,13598.8,12176.6,7404.4,14468.4,33890.0,...,19953.6,17689.4,31117.2,32463.4,0.0,32359.0,18673.2,42559.6,31118.4,7-Aug-17
8-Aug-17,19063.8,24102.6,11492.8,31628.6,12589.4,13528.2,12152.8,7571.8,14403.0,34628.8,...,20697.4,17969.2,31037.6,31748.4,0.0,32472.4,18769.0,43097.2,31516.2,8-Aug-17
9-Aug-17,19220.6,24037.2,11290.0,31427.4,12521.6,13513.0,11835.8,7535.6,14569.4,34070.4,...,20254.4,18143.6,30700.8,31536.0,0.0,32881.0,18802.0,43336.6,30869.2,9-Aug-17
10-Aug-17,19315.8,24533.4,11382.4,31697.6,12720.8,13734.8,11811.2,8006.8,14400.6,33914.2,...,20500.4,18265.0,30717.0,31946.4,0.0,33076.4,18872.8,43610.0,30966.6,10-Aug-17
11-Aug-17,19789.6,24191.4,11550.4,31915.6,12536.2,13709.6,11714.0,7961.6,14930.2,33811.4,...,20356.6,18272.0,30494.6,31769.2,0.0,33099.0,18999.4,43102.6,30755.2,11-Aug-17
14-Aug-17,19656.6,24427.6,11706.2,31664.2,12829.8,13638.2,11524.2,8081.6,14731.6,34070.2,...,20253.4,18506.6,30690.6,31934.4,0.0,33387.8,18914.8,42727.4,31185.8,14-Aug-17
15-Aug-17,19501.0,24340.0,11917.0,31597.8,12755.2,13540.4,11575.2,8133.2,14630.4,34261.0,...,20422.4,18506.6,30868.0,31150.2,0.0,33285.6,18656.2,42842.6,30908.4,15-Aug-17
16-Aug-17,19589.4,24085.2,11963.0,32067.4,12883.2,13566.6,11700.0,8221.6,14823.6,34117.6,...,20340.2,18589.4,31441.2,30145.0,0.0,33137.4,18519.0,42328.2,30830.4,16-Aug-17
17-Aug-17,19809.2,24241.8,11697.6,31872.0,12812.4,13824.8,11770.8,8134.8,14937.0,34212.2,...,20643.8,18616.0,32093.8,30973.2,0.0,33748.0,18668.8,42600.0,31491.8,17-Aug-17
18-Aug-17,19867.8,24131.4,12136.6,32397.0,12816.4,13743.0,11626.6,8411.2,15233.8,34674.8,...,20799.2,18508.2,31944.6,30334.2,0.0,33431.0,18408.2,42449.6,31973.2,18-Aug-17
21-Aug-17,20038.0,23846.6,12138.6,32243.2,13012.6,13951.2,11594.6,8325.8,15252.6,34686.2,...,20955.2,18237.2,32502.0,30366.0,0.0,33697.2,18404.6,42544.6,31602.4,21-Aug-17
22-Aug-17,19947.4,24013.4,11894.6,32511.8,13102.4,13953.0,11811.4,8401.6,15232.2,34763.2,...,21255.8,18258.0,32136.0,29029.2,0.0,33257.4,18524.6,42477.0,31010.0,22-Aug-17
23-Aug-17,19945.2,23757.4,11953.0,32396.4,13041.8,13893.8,11930.8,8657.8,15357.4,35001.8,...,21704.0,18522.6,32222.4,28110.8,0.0,33657.2,18403.4,42683.2,30965.8,23-Aug-17
24-Aug-17,19774.4,23981.8,11968.6,32150.4,13201.6,14078.0,11957.8,8081.6,15162.6,35256.0,...,22757.8,18673.0,32180.4,28040.4,0.0,33331.0,18419.8,42676.4,29532.8,24-Aug-17
28-Aug-17,19540.2,23407.4,12484.4,32322.0,13542.0,14018.6,11966.4,7833.2,15034.0,34851.2,...,22085.2,18572.6,32965.2,27484.4,0.0,33455.0,18183.6,42591.2,29264.6,28-Aug-17
29-Aug-17,19337.8,23310.8,12297.2,32124.6,13323.0,13779.2,11956.4,8161.8,14934.2,35208.6,...,22369.8,18520.8,33006.8,27707.8,0.0,34186.8,17974.0,42936.4,28631.0,29-Aug-17
30-Aug-17,19683.4,23461.4,12227.6,31858.2,13161.2,13894.2,11882.6,8057.4,14773.6,35383.0,...,22179.2,18546.0,32567.8,27414.6,0.0,33779.0,18208.2,42681.2,28686.0,30-Aug-17
31-Aug-17,19514.2,23859.8,12076.2,31062.6,13425.6,13968.8,12444.4,7895.2,20041.2,30423.2,...,21422.4,19010.4,32488.6,26173.2,0.0,35239.2,19611.0,42931.4,28286.2,31-Aug-17
1-Sep-17,19482.2,23866.8,12058.2,44960.4,13429.4,13774.2,11782.2,8763.0,19971.6,30479.0,...,21327.2,18827.4,32908.8,25365.8,0.0,35336.0,19979.0,43008.4,29284.2,1-Sep-17
Value,8567728.0,9331405.0,4154458.4,63655510.8,6918261.2,4034782.4,5817038.0,4766616.6,8060632.8,11591801.8,...,13652550.0,7856026.0,14323069.4,14163922.6,0.0,19357711.0,9044264.2,22199551.6,14964525.4,Value

In [91]:
updated_data['date'].nunique()

425

In [102]:
test_ud = updated_data.copy()

In [103]:
test_ud = test_ud.transpose()

In [105]:
test_ud.head()

1,1-Jan-16,4-Jan-16,5-Jan-16,6-Jan-16,7-Jan-16,8-Jan-16,11-Jan-16,12-Jan-16,13-Jan-16,14-Jan-16,...,21-Aug-17,22-Aug-17,23-Aug-17,24-Aug-17,28-Aug-17,29-Aug-17,30-Aug-17,31-Aug-17,1-Sep-17,Value
9,20337.4,20124,20210.2,20324,20790.4,20989.2,20874.8,21163.2,20816.6,20889.2,...,20038,19947.4,19945.2,19774.4,19540.2,19337.8,19683.4,19514.2,19482.2,8.56773e+06
10,16335.2,16636,16808.4,17068,17350.2,17557.6,17506.8,17225.4,17623.4,17103.2,...,23846.6,24013.4,23757.4,23981.8,23407.4,23310.8,23461.4,23859.8,23866.8,9.33141e+06
11,9657.4,9202.8,9385.8,9430.8,9203.6,9148.4,9354.2,9390.4,9369.2,9293.4,...,12138.6,11894.6,11953,11968.6,12484.4,12297.2,12227.6,12076.2,12058.2,4.15446e+06
12,42872,43113.8,43105.6,42488.8,42245.2,43480.2,43532,44237.4,45517.4,44359.2,...,32243.2,32511.8,32396.4,32150.4,32322,32124.6,31858.2,31062.6,44960.4,6.36555e+07
13,14977.4,15008,15444.8,15918.2,16023,15787.4,15735.2,15452.2,15587.8,15999.8,...,13012.6,13102.4,13041.8,13201.6,13542,13323,13161.2,13425.6,13429.4,6.91826e+06

In [119]:
data_df = pd.DataFrame()
for i in range(3):
    df = pd.DataFrame(df_billing.iloc[i])
    #df.drop('1', axis=0, inplace=True)
    data_df = pd.concat([data_df,df],axis=1,sort=False)

data_df.columns = ['Segment','Type','Subtype']

In [120]:
data_df.head()

                                    Segment     Type  Subtype
9                   Europe - On Trailing EY   Market     EURO
10  Consumer Discretionary - On Trailing EY  Sectors  EURO_25
11        Consumer Staples - On Trailing EY      NaN  EURO_30
12                  Energy - On Trailing EY      NaN  EURO_10
13              Financials - On Trailing EY      NaN  EURO_40

In [121]:
data_df[['Segment','Period']] = data_df['Segment'].str.split('-',expand=True)

In [122]:
data_df = data_df[['Segment','Period','Type','Subtype']]
data_df.head()

                    Segment           Period     Type  Subtype
9                   Europe    On Trailing EY   Market     EURO
10  Consumer Discretionary    On Trailing EY  Sectors  EURO_25
11        Consumer Staples    On Trailing EY      NaN  EURO_30
12                  Energy    On Trailing EY      NaN  EURO_10
13              Financials    On Trailing EY      NaN  EURO_40

In [123]:
data_df=data_df.fillna(method='ffill')

In [124]:
data_df.head()

                    Segment           Period     Type  Subtype
9                   Europe    On Trailing EY   Market     EURO
10  Consumer Discretionary    On Trailing EY  Sectors  EURO_25
11        Consumer Staples    On Trailing EY  Sectors  EURO_30
12                  Energy    On Trailing EY  Sectors  EURO_10
13              Financials    On Trailing EY  Sectors  EURO_40

In [125]:
data_df['Value'] = updated_data.loc['Value']

In [126]:
data_df['Value'] = data_df['Value'].map(lambda x : '%.5f' %x)

In [128]:
data_df.head()

                    Segment           Period     Type  Subtype           Value
9                   Europe    On Trailing EY   Market     EURO   8567728.00000
10  Consumer Discretionary    On Trailing EY  Sectors  EURO_25   9331405.00000
11        Consumer Staples    On Trailing EY  Sectors  EURO_30   4154458.40000
12                  Energy    On Trailing EY  Sectors  EURO_10  63655510.80000
13              Financials    On Trailing EY  Sectors  EURO_40   6918261.20000

In [225]:
#Keeping a backup of the data
final_data = data_df.copy()

In [171]:
data_df['Value'] = data_df['Value'].astype('float')
data_df.head()

                    Segment           Period     Type  Subtype       Value
9                   Europe    On Trailing EY   Market     EURO   8567728.0
10  Consumer Discretionary    On Trailing EY  Sectors  EURO_25   9331405.0
11        Consumer Staples    On Trailing EY  Sectors  EURO_30   4154458.4
12                  Energy    On Trailing EY  Sectors  EURO_10  63655510.8
13              Financials    On Trailing EY  Sectors  EURO_40   6918261.2

In [172]:
Country_billing_data = data_df[data_df['Type']=="Countries"]

In [173]:
Country_billing_data.shape

(80, 5)

In [175]:
Country_billing_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 44 to 267
Data columns (total 5 columns):
Segment    80 non-null object
Period     80 non-null object
Type       80 non-null object
Subtype    80 non-null object
Value      80 non-null float64
dtypes: float64(1), object(4)
memory usage: 3.8+ KB

In [178]:
Country_billing = Country_billing_data.groupby('Subtype').sum()

In [188]:
Country_billing=Country_billing.rename(columns={'Value':'Billing'})
Country_billing

            Billing
Subtype
AT       20567762.0
BE       41461751.8
CH       49210517.2
DE       49048279.8
DK       55055391.4
ES       40604527.4
FI       26429877.0
FR       42744632.4
GB       43450410.2
GR              0.0
IE       57187537.0
IT       46434242.0
NL       48886928.6
NO       43836265.4
PT              0.0
SE       33666877.2

In [185]:
Period_billing = data_df.groupby('Period').sum()
Period_billing = Period_billing.rename(columns={'Value': 'Billing'})
Period_billing

                      Billing
Period
 On Forward DY    303275424.0
 On Forward EY    207462568.8
 On Trailing BVY  510485965.8
 On Trailing DY   363968096.4
 On Trailing EY   458224072.4

## The Billing excercise completes here and we have saved the data in two different files. However, i have continued below, as in the sample output file the data was in a single file, and the data would be saved in the below format.

In [194]:
testing = Country_billing.copy()

In [201]:
final_country_billing = testing.reindex(columns=[*testing.columns.tolist(), 'col1', 'col2','col3'])
final_country_billing

            Billing  col1  col2  col3
Subtype
AT       20567762.0   NaN   NaN   NaN
BE       41461751.8   NaN   NaN   NaN
CH       49210517.2   NaN   NaN   NaN
DE       49048279.8   NaN   NaN   NaN
DK       55055391.4   NaN   NaN   NaN
ES       40604527.4   NaN   NaN   NaN
FI       26429877.0   NaN   NaN   NaN
FR       42744632.4   NaN   NaN   NaN
GB       43450410.2   NaN   NaN   NaN
GR              0.0   NaN   NaN   NaN
IE       57187537.0   NaN   NaN   NaN
IT       46434242.0   NaN   NaN   NaN
NL       48886928.6   NaN   NaN   NaN
NO       43836265.4   NaN   NaN   NaN
PT              0.0   NaN   NaN   NaN
SE       33666877.2   NaN   NaN   NaN

In [202]:
final_data = pd.concat([final_country_billing,Period_billing],axis=1)

C:\Users\vishal.kumar1\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [203]:
final_data

                     Billing  col1  col2  col3      Billing
 On Forward DY           NaN   NaN   NaN   NaN  303275424.0
 On Forward EY           NaN   NaN   NaN   NaN  207462568.8
 On Trailing BVY         NaN   NaN   NaN   NaN  510485965.8
 On Trailing DY          NaN   NaN   NaN   NaN  363968096.4
 On Trailing EY          NaN   NaN   NaN   NaN  458224072.4
AT                20567762.0   NaN   NaN   NaN          NaN
BE                41461751.8   NaN   NaN   NaN          NaN
CH                49210517.2   NaN   NaN   NaN          NaN
DE                49048279.8   NaN   NaN   NaN          NaN
DK                55055391.4   NaN   NaN   NaN          NaN
ES                40604527.4   NaN   NaN   NaN          NaN
FI                26429877.0   NaN   NaN   NaN          NaN
FR                42744632.4   NaN   NaN   NaN          NaN
GB                43450410.2   NaN   NaN   NaN          NaN
GR                       0.0   NaN   NaN   NaN          NaN
IE                57187537.0   NaN   NaN   NaN          NaN
IT                46434242.0   NaN   NaN   NaN          NaN
NL                48886928.6   NaN   NaN   NaN          NaN
NO                43836265.4   NaN   NaN   NaN          NaN
PT                       0.0   NaN   NaN   NaN          NaN
SE                33666877.2   NaN   NaN   NaN          NaN

## Summary Statistics for 'Sector'

In [218]:
sector_data = data_df[data_df['Type'] == 'Sectors']
sector_data

,Segment,Period,Type,Subtype,Value
10,Consumer Discretionary,On Trailing EY,Sectors,EURO_25,9331405.0
11,Consumer Staples,On Trailing EY,Sectors,EURO_30,4154458.4
12,Energy,On Trailing EY,Sectors,EURO_10,63655510.8
13,Financials,On Trailing EY,Sectors,EURO_40,6918261.2
14,Health Care,On Trailing EY,Sectors,EURO_35,4034782.4
15,Industrials,On Trailing EY,Sectors,EURO_20,5817038.0
16,Information Technology,On Trailing EY,Sectors,EURO_45,4766616.6
17,Materials,On Trailing EY,Sectors,EURO_15,8060632.8
18,Telecommunication Services,On Trailing EY,Sectors,EURO_50,11591801.8
19,Utilities,On Trailing EY,Sectors,EURO_55,4226988.4
62,Consumer Discretionary,On Forward EY,Sectors,EURO_25,6902471.2
63,Consumer Staples,On Forward EY,Sectors,EURO_30,3210065.0
64,Energy,On Forward EY,Sectors,EURO_10,4754437.6
65,Financials,On Forward EY,Sectors,EURO_40,4156042.0
66,Health Care,On Forward EY,Sectors,EURO_35,3969216.0
67,Industrials,On Forward EY,Sectors,EURO_20,3896163.4
68,Information Technology,On Forward EY,Sectors,EURO_45,3813913.2
69,Materials,On Forward EY,Sectors,EURO_15,4912515.2
70,Telecommunication Services,On Forward EY,Sectors,EURO_50,4968459.4
71,Utilities,On Forward EY,Sectors,EURO_55,2643265.0
114,Consumer Discretionary,On Trailing DY,Sectors,EURO_25,11070456.6
115,Consumer Staples,On Trailing DY,Sectors,EURO_30,7306129.4
116,Energy,On Trailing DY,Sectors,EURO_10,6925298.2
117,Financials,On Trailing DY,Sectors,EURO_40,5741644.4
118,Health Care,On Trailing DY,Sectors,EURO_35,12292216.2
119,Industrials,On Trailing DY,Sectors,EURO_20,5895701.2
120,Information Technology,On Trailing DY,Sectors,EURO_45,7448077.0
121,Materials,On Trailing DY,Sectors,EURO_15,7408804.4
122,Telecommunication Services,On Trailing DY,Sectors,EURO_50,4937351.2
123,Utilities,On Trailing DY,Sectors,EURO_55,4199299.0
166,Consumer Discretionary,On Forward DY,Sectors,EURO_25,8352939.4
167,Consumer Staples,On Forward DY,Sectors,EURO_30,6504336.2
168,Energy,On Forward DY,Sectors,EURO_10,6078074.0
169,Financials,On Forward DY,Sectors,EURO_40,4914937.0
170,Health Care,On Forward DY,Sectors,EURO_35,11151629.4
171,Industrials,On Forward DY,Sectors,EURO_20,5186903.6
172,Information Technology,On Forward DY,Sectors,EURO_45,6488070.2
173,Materials,On Forward DY,Sectors,EURO_15,5675003.2
174,Telecommunication Services,On Forward DY,Sectors,EURO_50,5120042.4
175,Utilities,On Forward DY,Sectors,EURO_55,2851622.2
218,Consumer Discretionary,On Trailing BVY,Sectors,EURO_25,12236754.4
219,Consumer Staples,On Trailing BVY,Sectors,EURO_30,9198133.4
220,Energy,On Trailing BVY,Sectors,EURO_10,6345865.0
221,Financials,On Trailing BVY,Sectors,EURO_40,7145176.4
222,Health Care,On Trailing BVY,Sectors,EURO_35,10223710.0
223,Industrials,On Trailing BVY,Sectors,EURO_20,9872415.6
224,Information Technology,On Trailing BVY,Sectors,EURO_45,10163419.6
225,Materials,On Trailing BVY,Sectors,EURO_15,10742721.6
226,Telecommunication Services,On Trailing BVY,Sectors,EURO_50,11222732.8
227,Utilities,On Trailing BVY,Sectors,EURO_55,9779798.2

In [221]:
summary_sector_data = sector_data.describe()
summary_sector_data

              Value
count  5.000000e+01
mean   7.965266e+06
std    8.472335e+06
min    2.643265e+06
25%    4.803091e+06
50%    6.416968e+06
75%    9.298087e+06
max    6.365551e+07

## Saving the data in the excel file as requested

In [224]:
writer = pd.ExcelWriter('Billing.xlsx', engine='xlsxwriter')
Country_billing.to_excel(writer, sheet_name='Output_Country')
Period_billing.to_excel(writer, sheet_name='Output_Period')
summary_sector_data.to_excel(writer, sheet_name='Sector Summary Stats')
writer.save()